In [13]:
n=0
while(n<10):
    print(n)
    n+=1
    if n==5:
        break

0
1
2
3
4

In [18]:
n=0
while(n<10):
    print(n)
    n+=1
    if n==5:
        print('n is not less than 5')
        break

0
1
2
3
4
n is not less than 5

In [27]:
F=['banana','orange','grape','apple']
for fruit in F:
    if fruit == 'apple':
        print('apple is really a fruit?')
        break
    print(fruit)

banana
orange
grape
apple is really a fruit?

In [57]:
n = 1
sum = 0
while(n<=30):
    sum=sum+n
    n+=1
print(sum)

465

In [39]:
grade = 90
if grade < 60:
    print('F')
elif grade<70:
    print('D')
elif grade<80:
    print('C')
elif grade<90:
    print('B')
else:
    print('A')

A

In [98]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for key in marks:
    print('name',key,'grade',marks[key])
    Max=max(marks,key=marks.get)
    Min=min(marks,key=marks.get)
print('max value:',marks[Max])
print('min value:',marks[Min])

for i in ['Andy','Amy','James','Jules', 'Arthur':
    if 'J' in i:
        break
    print(i)

name Andy grade 88
name Amy grade 66
name James grade 90
name Jules grade 55
name Arthur grade 77
max value: 90
min value: 55
A
r
t
h
u
r